In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors

df = pd.read_csv('data/anime.csv')
names = list(df.name.values)
scaler = StandardScaler()
df["members"] = df["members"].astype(float)
df["rating"] = df["rating"].astype(float)
df["rating"].fillna(df["rating"].mean(),inplace = True)
attributes = pd.concat([df["genre"].str.get_dummies(sep=","),pd.get_dummies(df[["type"]]),df[["rating"]],df[["members"]]],axis=1)
attributes

,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,Harem,...,Vampire,Yaoi,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV,rating,members
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,9.37,200630.0
1,1,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,9.26,793665.0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,9.25,114262.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,9.17,673572.0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,9.16,151266.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12289,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,4.15,211.0
12290,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,4.28,183.0
12291,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,4.88,219.0
12292,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,4.98,175.0
12293,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,5.46,142.0

In [2]:
attributes = scaler.fit_transform(attributes)
attributes

array([[-0.27953056, -0.05494254, -0.36595578, ..., -0.66720522,
         2.84753513,  3.33024137],
       [ 3.57742642, -0.05494254, -0.36595578, ...,  1.49878923,
         2.73937967, 14.14840622],
       [-0.27953056, -0.05494254,  2.73257061, ...,  1.49878923,
         2.72954735,  1.75471335],
       ...,
       [-0.27953056, -0.05494254, -0.36595578, ..., -0.66720522,
        -1.56717438, -0.32566298],
       [-0.27953056, -0.05494254, -0.36595578, ..., -0.66720522,
        -1.46885123, -0.32646563],
       [-0.27953056, -0.05494254, -0.36595578, ..., -0.66720522,
        -0.9969001 , -0.32706762]])

In [3]:
n = NearestNeighbors(n_neighbors=11).fit(attributes)
d, ix = n.kneighbors(attributes)

In [4]:
def get_index_from_name(name):
    return df[df['name']==name].index.tolist()[0]

def from_name(x):
        id = get_index_from_name(x)
        y = []
        for i in ix[id][1:]:
            y.append(df.iloc[i]["name"])
        return str(y)

def from_id(x):
        y = []
        for x in ix[x][1:]:
            y.append(df.iloc[x]["name"])
        return str(y)

In [5]:
from_name('Naruto')

"['Naruto: Shippuuden', 'Dragon Ball Z', 'Bleach', 'Dragon Ball', 'Kill la Kill', 'Shingeki no Kyojin', 'One Piece', 'Hunter x Hunter (2011)', 'Guilty Crown', 'Katekyo Hitman Reborn!']"